<table align="left" width="50%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td align="center" style="background-color:#ffffff">
                <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #ffffff; border: 3px solid #023a76; border-radius: 10px;">
                    <tbody>
                        <tr>
                            <td style="width:100%">
                                <table width="640" border="0" cellspacing="0" cellpadding="0" style="background:#d3e7f342;">
                                    <tbody>
                                        <tr>

                                            <td style="width:1200px; padding-top:10px; padding-bottom:10px;"><a href="https://quiken.mx/
                                                " target="_blank"><img src="https://quikn.s3.us-east-2.amazonaws.com/images/quiken.png" width="" height="105" alt="" style="font-size:0em; margin:0 auto; display:block; border:0px;" class="CToWUd" /></a> </td>
                                          
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:100%; border-bottom:1px solid #023a76"><img src="" width="10" height="0" alt="" style="display:block;font-size:0em;border:0" class="CToWUd"></td>
                        </tr>

                        <tr>
                            <td>
                                <table style="font-family:'Montserrat',Arial,Helvetica,sans-serif; font-size: 14px;  padding: 17px; font-weight:500;">
                                    <tbody>
                                        <tr>                                        
                                            <td style="padding-bottom:10px;">
                                                <p style="">Estimado %recipient.first%,</p>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding-top:8px;">
                                               
                                                    <p style="font-family: 'Montserrat',Arial,Helvetica,sans-serif; line-height:1.9;">Tu paquete con numero de guia <b>%recipient.tracking%</b> y con dirección <b>%recipient.address%</b> ha sido entregado satisfactoriamente.</p>
                                                   
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>

                        <tr bgcolor="#eaeaea">
                            <td style="width:100%"><img src="" width="10" height="0" alt="" style="display:block;font-size:0em;border:0px" class="CToWUd"></td>
                        </tr>

                        <tr>
                            <td style="width:100%">
                                <table width="640" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>

                                            <td align="left" style="padding-left: 15px; padding-top:15px;">
                                                <div style="color:#979797;margin-top:0px;letter-spacing:0.016em;font-family: 'Montserrat',Arial,Helvetica,sans-serif;padding-bottom:10px">
                                                    <div style="font-size:15px;color:#000;font-weight:500;font-family: 'Montserrat',Arial,Helvetica,sans-serif; padding-bottom: 8px;"><b>¿Dudas?</b></div>
                                                    <span style="font-size:12px; color:#000; padding-top:2px; line-height: 1.8; font-weight: 600;"><strong>Llámanos:</strong> +52 1 81 1661 8597 <br><a href="https://xpay.life/" style="color:#000;text-decoration:none" rel="noopener" target="_blank" data-saferedirecturl=""><strong> Email: </strong> hola@quiken.mx <br /> <strong> Web:  </strong>https://quiken.mx</a></strong></span>
                                                </div>
                                            </td>

                                            <td width="150" height="12" alt="" style="display:block;font-size:0em;border:0px;" class="CToWUd"></td>

                                            <td width="248" style="padding:7px;"></td>

                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        
                        <tr style="background-color:teal">
                            <td style="padding-top:7px;">   
                                
                                <a href="https://www.facebook.com/quikenmx" rel="noopener" target="_blank" data-saferedirecturl="" style="padding-left:15px; padding-right:5px;"> <img src="https://quikn.s3.us-east-2.amazonaws.com/images/email/facebook%402x.png" title="facebook" width="37" height="37" class="CToWUd"></a>
                                <a href="https://www.instagram.com/quikenmx/" rel="noopener" target="_blank" data-saferedirecturl="" style="padding-right:10px;"><img src="https://quikn.s3.us-east-2.amazonaws.com/images/email/instagram%402x.png" alt="Instagram" title="Instagram" width="37" height="37" class="CToWUd"></a>
                                
                            </td>
                            <td>
                               

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                           
                            <td style="width:100%">
                                <p style="font-weight: normal;line-height: 1.9;  margin: 16px; font-style: italic; color: #454545; font-size: 12px;"><strong>Notificación de confidencialidad:</strong>La información contenida en este mensaje es confidencial y restringida, y está sujeta a restricciones y sanciones legales con relación a su divulgación sin autorización del remitente u otro uso, y está destinada únicamente para el uso de la(s)persona(s) arriba indicada(s) y otras que hayan sido específicamente autorizadas para recibirla. Se le notifica que está estrictamente prohibida cualquier difusión, distribución o copia de este mensaje. Si ha recibido esta comunicación o copia de este mensaje por error, o si hay problemas en la transmisión, favor de comunicarse con el remitente inmediatamente retornando el e-mail y deberá borrar de su sistema la información recibida y sus anexos.</p>

                                <p style="font-weight: normal;line-height: 1.9;  margin: 16px; font-style: italic; color: #454545; font-size: 12px;">El contenido de esta comunicación electrónica no se considera oferta o acuerdo de voluntades, salvo que sea suscrito por firma autógrafa del representante legal de la Compañía.</p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>